@{
    ViewBag.Title = "Home Page";
}
    <a asp-controller="App" asp-action="about">Acerca de nosotros</a>
    <ul>
        <li><a asp-controller="App" asp-action="Edit">sdasdas</a></li>
        <li>sdasdasdqqqws</li>
        <li>sdeqwepofdfs</li>
    </ul>
